@inherits LayoutComponentBase

<PageTitle>APEX</PageTitle>
<TelerikRootComponent>

    <div class="page">

        <main class="main-form-box vh-md-100 h-100">
            @Body
        </main>
    </div>
</TelerikRootComponent>

